#btn {
    height: 60px;
    width: 250px;
    margin: 60px 35%;
    font-size: 25px;
    cursor: pointer;
    border-radius: 7px;
    background-color: rgb(43, 171, 226);
}

#outcome {
    border: dashed 3px black;
    height: 270px;
    width: 700px;
    background-color: rgb(239, 244, 244);
    text-align: center;
    font-size: 26px;
    margin: auto;
    color: brown;
}

img {
    height: 150px;
    width: 250px;
    margin-top: 25px;
}

p {
    font-size: 70px;
    font-weight: bold;
    color: red;
    background-color: lightcyan;
    border-radius: 25%;
    border: 1px dotted black;
}

.next {
    color: rgb(135, 222, 157);
}